/* --- CONTACT --- */
.contact {
    background: var(--main-bg-color);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--txt-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn-box.btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.contact form .btn-box.btns .btn {
    width: auto;
    padding: 0 3rem;
    font-size: 1.6rem;
}